.tarea-contenedor {
  width: 500px;
  min-height: 65px;
  background-color: #1b1b32;
  margin: 5px 0px;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 1px solid white;
  cursor: pointer;
}

.tarea-texto {

}

